.centered {
    text-align: center;
    margin: auto;
    width: 50%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #0A0D14;
}

table {
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    background-color: #28364E;
}

td, th {
    word-wrap: break-word;
    min-width: 100px;
    max-width: 200px;
}

th {
    background-color: #556FF7;
    border-radius: 5px;
}

td {
    border-top: 1px solid white;
}

h1, p, th, td, a {
    color: #FFFFFF;
}